body{

    background-color: blanchedalmond;
}

    h1 {

        color: white;
        background-color: cyan;
        border: seagreen;
    }
    
    
    
    h2 {
        color: white;
        border: black ;
        background-color: lawngreen;


        
    }